*.class
bin/
classes/

# package files
*.jar
*.war
*.ear

# Tomcat
.*webclasspath

# maven build directory
target/
work/

# Eclipse meta files
.classpath
.settings/

# Eclipse plugins
.checkstyle

# Editor swap files
*.swp

# JetBrains
.idea/
*.iml